.form_control {
  /* position */
  margin-bottom: 1em;
  /* display */
  display: flex;
  flex-direction: column;
}

.form_control label {
  /* position */
  margin-bottom: 0.6em;
  /* text */
  font-weight: 1000;
}

.form_control input {
  /* position */
  padding: 0.7em;
  /* border */
  border: none;
  border-radius: 0;
}
.form_control input::placeholder {
  /* color */
  color: #7b7b7b;
}
