.home_container {
  /* size */
  width: 100%;
  /* position */
  padding: 4em;
  /* display */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_container h1 {
  /* position */
  margin-bottom: 0.5em;
  /* text */
  font-size: 2.5em;
}
.home_container h1 span {
  /* position */
  padding: 0 0.2em;
  /* text */
  font-size: 1em;
  /* color */
  background-color: var(--B);
  color: var(--Y);
}
.home_container p {
  /* position */
  margin-bottom: 1.5em;
  /* color */
  color: var(--G);
}
.home_container img {
  /* size */
  width: 350px;
  /* position */
  margin: 2em;
}
