.container {
  /* size */
  width: 1200px;
  height: fit-content;
  /* position */
  margin: 0 auto;
  /* display */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.min_height {
  /* size */
  min-height: 75%;
}

.container_app {
  overflow-y: scroll;
}

.start {
  /* display */
  justify-content: flex-start;
}

.column {
  /* display */
  flex-direction: column;
  justify-content: flex-start;
}
