.navbar {
  /* position */
  padding: 1em;
  /* display*/
  display: flex;
  justify-content: space-between;
  /* color */
  background-color: var(--B);
}

.list {
  /* display*/
  display: flex;
  align-items: center;
  /* misc */
  list-style: none;
}

.item {
  /* position */
  margin: 0 1em;
}
.item a {
  /* text */
  color: #FFF;
  text-decoration: none;
  user-select: none;
}
.item a:hover {
  /* color */
  color: var(--Y);
}
