*,
*::before,
*::after {
  /* position */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text */
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
}

:root {
  --Y: #FFBB33;
  --B: #222;
}

html, body, #root {
  background-color: #EFEFEF;
  height: 100%;
}

.App {
  /* size */
  height: 100vh;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}