*,
*::before,
*::after {
  /* position */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text */
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #EFEFEF;
  height: 100%;
}