*,
*::before,
*::after {
  /* position */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text */
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;

  /* prevent drag and select */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  /* colors */
  --Y: #ffbb33;
  --B: #222;
  --G: #7b7b7b;
  --G2: #7a7a7a;
}

html,
body,
#root {
  /* size */
  height: 100%;
  /* color */
  background-color: #efefef;
}

h1 {
  font-size: 3em;
}

.App {
  /* size */
  height: 100vh;
  /* display */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
